.pcbw_attributes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;

    .pcbw_attribute-group {
        display: flex;
        column-gap: 5px;
        width: -moz-fit-content;
        width: fit-content;
        flex-wrap: wrap;
        justify-content: center;
    }
}